.omdb {
  margin-left: 20px;
  margin-bottom: 20px;
  align-content: center;
  border: 2px solid #ffcb05;
  background-color: #1f1f1f;
}

.omdb.ui.segment {
  background-color: #1f1f1f;
}
.omdb.ui.dividing.header {
  color: #ffcb05;
  font-weight: bold;
  letter-spacing: 1px;
  border-bottom: 1px solid #fbd616;
}

.ui.form .field>label {
  color: #fbd616;
  letter-spacing: 1px;
  font-weight: 500;
} 

.ui.form input[type=text] {
  border: 4px solid #ffcb05;
  border-radius: 0px;
}

.ui.form input[type=text]:focus {
  border: 2px solid #fbd616;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ui.button {
  background-color: #ffcb05;
  color: #1f1f1f;
  font-weight: bold;
  font-size: 16px;
  transition-duration: 0.2s;
}
.ui.button:hover {
  background-color: #b38f00;
  color: #1f1f1f;
}
::selection {
  background-color: #fbd616;
  color: #1f1f1f;
}